<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.TeachplanMapper">
    <sql id="Base_Column_List">
        id, pname, parentid, grade, media_type, start_time, end_time, description, timelength, orderby,
        course_id, course_pub_id, status, is_preview, create_date, change_date
    </sql>

    <select id="selectByCourseId">
        select
        <include refid="Base_Column_List"/>
        from teachplan
        where course_id = #{course_id}
    </select>

    <select id="selectById">
        select
        <include refid="Base_Column_List"/>
        from teachplan
        where id = #{id}
    </select>

    <insert id="insertTeachplan" useGeneratedKeys="true" keyProperty="id">
        insert into teachplan
        value(
        #{id}, #{pname}, #{parentid}, #{grade}, #{mediaType}, #{startTime}, #{endTime}, #{description}, #{timelength},
        #{orderby}, #{courseId}, #{coursePubId}, #{status}, #{isPreview}, #{createDate}, #{changeDate}
        )
    </insert>

    <update id="updateTeachplanById">
        update teachplan
        <set>
            <if test="pname != null and pname != ''">
                pname = #{pname},
            </if>
            <if test="mediaType != null and mediaType != ''">
                media_type = #{mediaType},
            </if>
            <if test="orderby != null">
                orderby = #{orderby},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isPreview != null">
                is_preview = #{isPreview},
            </if>
            <if test="changeDate != null">
                change_date = #{changeDate},
            </if>
            id = #{id}
        </set>
        where id = #{id}
    </update>

    <select id="selectSectionCount">
        select count(*)
        from teachplan
        where parentid = #{id}
    </select>

    <delete id="deleteTeachplan">
        delete from teachplan
        where id = #{id}
    </delete>
</mapper>